@using MyTasks.Core.ViewModels

@model CategoryViewModel


<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">@Model.Heading</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="categoryForm" class="row gy-2 gx-3 align-items-center">
            @Html.AntiForgeryToken()
            
            @Html.HiddenFor(x => x.Category.UserId)
           
            @Html.TextBoxFor(x => x.Category.Name, 
                             new { @class="form-control",
                                   placeholder = "Wpisz nazwę kategorii..." })
            @Html.ValidationMessageFor(x => x.Category.Name)
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal">
            Zamknij
        </button>
        <button type="button" 
                class="btn btn-primary"
                onclick="saveCategory()">
            Zapisz
        </button>
      </div>
    </div>
  </div>
</div>